@use '../../style/Mixins'
@import '../../style/Variables'

.logo
    background: $backgroundSolid
    height: 30px
    width: 100vw
    margin-block: 0px
    align-content: center
       
    .h1Logo
        font-family: $font-logo
        margin-inline: 20px   
        font-size: 30px
