$sistemColor : #FFFAFF
$backgroundSolid : #dbdbdb

$primaryColor : #FFFFFF
$secondaryColor : #001514
$accentColor : #8cd7f5
$baseColor : #6CAE75

$greenColor : #0fcc6d
$yellowColor : #ffd700
$orangeColor : #E9B44C
$redColor : #9B2915
$textColor: #001515

$font-primary: Cambria
$font-logo: Brush Script MT