$sistemColor : #FFFAFF
$backgroundSolid : #c3d8d8

$primaryColor : #FFFFFF
$secondaryColor : #001514
$accentColor : #30C5FF
$baseColor : #6CAE75

$greenColor : #03a353
$yellowColor : #eee566
$orangeColor : #E9B44C
$redColor : #9B2915
$textColor: #001515

  