@use '../../style/Mixins'
@import '../../style/Variables'

.backWrapper
    background: rgba($yellowColor, 0.7)
    display: flex
    justify-content: space-around
    padding: 18px
    margin-top: 5px
    border-radius: 5px
    align-content: center

.divInputs
    width: calc(48% - 10px)
    display: flex
    

.Inputs1, .Inputs2
    width: 50%
    min-width: 200px
    padding: 5px
    font-size: 18px
    font-family:  Arial, Helvetica, sans-serif
    height: 38px
    border: 1px solid $secondaryColor
    border-radius: 7px
    box-sizing: border-box
    margin-bottom: 10px
    margin-inline: 5%
    box-shadow:  3px 3px 7px  rgba($secondaryColor, 0.5)

.buttonsNavbar
    align-content: center

@media (max-width: 860px)     
    .divInputs
        display: block

@media (max-width: 450px)           
    .Inputs1
        display: none
    .backWrapper
        display: block   
   