@use '../../../style/Mixins'
@import '../../../style/Variables'

.taskItem
  font-family:  $font-primary
  position: relative
  background-color: $sistemColor
  display: flex
  width: 95vw
  height: fit-content
  margin: auto
  border: 1px solid $primaryColor
  border-radius: 10px
  padding-inline: 5px
  margin-top:10px
  box-shadow: 0px 2px 4px $secondaryColor
  &:hover
    box-shadow:  3px 3px 7px rgba($secondaryColor, 0.705)

.containerLeft
  display: block
  width: 50%
  height: fit-content
  padding-block: 3px
  min-width: 350px
  border-right: solid $secondaryColor 3px
  overflow: hidden
  word-wrap: break-word

.title
  color: $secondaryColor
  font-size: 28px
  margin-inline: 10px
  width: auto
  word-wrap: break-word

.description
  color: $textColor
  margin-inline: 10px
  color:  rgba($textColor, .6)
  width: auto
  word-wrap:  break-word
  max-height: 1em
  overflow: hidden
  transition: max-height 0.5s ease

.taskItem.expanded .description
  max-height: none

.containerLeft:hover
  height: auto  

.containerRight
  display: flex
  width: 40%
  align-items: center

.assigned  
  color: $textColor
  display: flex
  margin-bottom: 5px
  margin-inline: 30px
  width: fit-content
  min-width: 80px

.assignedTitle
  font-size: 24px
  font-weight: bold

.assignedUser
  font-size: 20px
  margin-inline: 10px
  align-self: center  

.status
  width: 150px
  height: 40px
  margin-top: 40px
  padding: 8px
  border: 1px solid $primaryColor
  border-radius: 5px
  background-color: white
  color: $secondaryColor
  font-size: 16px
  cursor: pointer
.status:hover
  transform: scale(1.01)
  box-shadow:  3px 3px 7px rgba(0, 1, 1, 0.212)

.divButton
  position: absolute
  top: 2px
  right: 8px
  width: fit-content
  border-radius: 50px

.iconDelete
  position: absolute
  right: 50px
  height: 30px
  padding: 3px
  border-radius: 50%
  cursor: pointer
  transition: background-color 0.3s ease
  &:hover 
    background-color: $yellowColor
  &:active 
    background-color: rgba($yellowColor, 0.7)
    transform: scale(0.95)

.editButton
  display: flex
  width: 30px
  padding: 3px
  cursor: pointer 
  border-radius: 50px 
  &:hover 
    background-color: $yellowColor
  &:active 
    background-color: rgba($yellowColor, 0.7)
    transform: scale(0.95)
    
@media (max-width: 860px) 
  .taskItem 
    display: block
    width: 80vw

  .containerLeft
    width: 90%
    min-width: 90px
    border-right: none
    border-bottom: solid $secondaryColor 2px

  .containerRight
    display: flex
    width: 90%
    align-items: center

  .iconDelete
    right: 2px
    top: 50px

  .assigned  
    margin-inline: 10px
    margin-bottom: 0px

  .status
    margin-bottom: 10px

@media (max-width: 350px) 
  .taskItem 
    padding-top: 20px

  .assigned
    display: block  
  .divButton
    display: block   

  .iconDelete
    right: 50px
    top: 0px  