@use '../../../style/Mixins'
@import '../../../style/Variables'

.background
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  z-index: 9999

.blurBackground 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  backdrop-filter: blur(5px)
  background-color: rgba(0, 0, 0, 0.5)

.TaskForm
  display: block
  font-family: $font-primary
  position: fixed
  top: 5%
  left: 35%
  width: 25%
  background-color: $sistemColor
  padding: 40px
  border-radius: 10px
  box-shadow: 0px 0px 10px $secondaryColor
  z-index: 999999
  backdrop-filter: blur(5px)

.iconClose
  display: flex
  width: 30px
  padding: 3px
  cursor: pointer
  margin-left: auto
  border-radius: 50px
.iconClose:hover
  background-color: $yellowColor
  transform: scale(1.05)
.iconClose:active
  transform: scale(0.95)

label
  margin: 10px
  display: block
  height: fit-content
  width: 100%

input, textarea, select
  width: 100%
  padding: 8px
  border: 1px solid #ccc
  border-radius: 5px
  margin-top: 5px

textarea
  max-width: 100% // Asegura que no sea más ancho que los otros inputs
  min-height: 100px // Un mínimo para que no sea muy pequeño
  max-height: 300px // Puede aumentar su altura hasta un 50% del alto del formulario
  resize: vertical // Permite al usuario cambiar solo la altura

button[type="submit"]
  display: block
  width: 100% // Asegúrate de que el botón también ocupe todo el ancho
  background-color: darken($yellowColor, 10%)
  color: $textColor
  border: none
  height: 45px
  margin-top: 20px // Ajusta según necesites
  border-radius: 5px
  cursor: pointer
  font-size: 16px
  transition: background-color 0.5s ease

  &:hover
    background-color: darken($secondaryColor, 10%)
    color: $primaryColor
  &:active
    transform: scale(0.95)

@media (max-width: 480px)  
  .TaskForm 
    width: 90%